{% extends 'base.html.twig' %}

{% block content %}
<div class="col-lg-6">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Vardas:</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th scope="row">pavardė:</th>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <th scope="row">El. paštas:</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th scope="row">Tipas:</th>
                <td>{{ role }}</td>
            </tr>
            <tr>
                <th scope="row">Užsiregistruota:</th>
                <td>{{ user.registration|date("Y-m-d") }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
