{% extends 'base.html.twig' %}

{% block content %}
{% include 'alert.html.twig' with alerts %}
<div class="col-lg-16">
    {% if requests|length > 0 %}
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">Vardas</th>
            <th scope="col">Pavardė</th>
            <th scope="col">El. paštas</th>
            <th scope="col">Tipas</th>
            <th scope="col">Data</th>
            <th scope="col">Veiksmas</th>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.name }}</td>
                <td>{{ request.surname }}</td>
                <td>{{ request.email }}</td>
                {% if request.type.name == "ROLE_DARBUOTOJAS" %}
                <td>Darbuotojas</td>
                {% endif %}
                {% if request.type.name == "ROLE_ADMINISTRATORIUS" %}
                <td>Administratorius</td>
                {% endif %}
                <td>{{ request.applyDate|date("Y-m-d") }}</td>
                <td>
                    <form method="post" action="/pending">
                        <input type="hidden" name="id" id="id" value="{{ request.id }}" />
                        <input class="btn-link" type="submit" name="accept" value="Patvirtinti" />
                        <input class="btn-link" type="submit" name="reject" value="Atmesti" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <span>Paraiškų nerasta</span>
    {% endif %}
</div>
{% endblock %}