{% extends 'base.html.twig' %}

{% block content %}
<table class="table-simple">
    <thead class="table-simple-row">
        <td class="table-simple-header">Vardas</td>
        <td class="table-simple-header">Pavardė</td>
        <td class="table-simple-header">El. paštas</td>
        <td class="table-simple-header">Tipas</td>
        <td class="table-simple-header">Data</td>
        <td class="table-simple-header">Veiksmas</td>
    </thead>
    {% for request in requests %}
    <tr>
        <td class="table-simple-cell">{{ request.name }}</td>
        <td class="table-simple-cell">{{ request.surname }}</td>
        <td class="table-simple-cell">{{ request.email }}</td>
        {% if request.type.name == "ROLE_DARBUOTOJAS" %}
        <td class="table-simple-cell">Darbuotojas</td>
        {% endif %}
        {% if request.type.name == "ROLE_ADMINISTRATORIUS" %}
        <td class="table-simple-cell">Administratorius</td>
        {% endif %}
        <td class="table-simple-cell">{{ request.applyDate|date("Y-m-d") }}</td>
        <td class="table-simple-cell">
            <form method="post" action="/pending">
                <input type="hidden" name="id" id="id" value="{{ request.id }}" />
                <input type="submit" name="accept" value="Patvirtinti" />
                <input type="submit" name="reject" value="Atmesti" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}