<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {%block title %}<title>LCS sistema</title>{% endblock %}

        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/custom-style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
        
        {#<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />#}
        
        {% block javascripts %}
        <script src="{{ asset('js/jquery-1.4.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.jcarousel.pack.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-func.js') }}" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
        <!-- Shell -->
        {% block menu %}
            {{ include ('menu.html.twig') }}
        {% endblock %}
        <div class="shell">

        <!-- Main -->
        <div id="main">
            {% block content %}
            <div class="cl">&nbsp;</div>
            <!-- Content -->
            <div id="content">
            <!-- Products -->
            <div class="products">
                <div class="cl">&nbsp;</div>
                <ul>
                <li> <a href="#"><img src="css/images/big1.jpg" alt="" /></a>
                    <div class="product-info">
                    <h3>Striuke</h3>
                    <div class="product-desc">
                        <h4>Moteriska</h4>
                        <p>Nike<br />
                        </p>
                        <strong class="price">EUR 58.99</strong> </div>
                    </div>
                </li>
                <li> <a href="#"><img src="css/images/big1.jpg" alt="" /></a>
                    <div class="product-info">
                    <h3>Striuke</h3>
                    <div class="product-desc">
                        <h4>Moteriska</h4>
                        <p>Adidas<br />
                        </p>
                        <strong class="price">EUR 68.99</strong> </div>
                    </div>
                </li>
                <li class="last"> <a href="#"><img src="css/images/big1.jpg" alt="" /></a>
                    <div class="product-info">
                    <h3>Striuke</h3>
                    <div class="product-desc">
                        <h4>Vyriska</h4>
                        <p>Adidas<br />
                        </p>
                        <strong class="price">EUR 68.99</strong> </div>
                    </div>
                </li>
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
            <!-- End Products -->
            </div>
            <!-- End Content -->
            <!-- Sidebar -->
            <div id="sidebar">
            <!-- Search -->
            <div class="box search">
                <h2>Paieska<span></span></h2>
                <div class="box-content">
                <form action="#" method="post">
                    <input type="text" class="field" />
                    <div class="inline-field">
                    <label>Kaina</label>
                    <select class="field small-field">
                        <option value="">EUR 10</option>
                    </select>
                    <label>iki:</label>
                    <select class="field small-field">
                        <option value="">EUR 50</option>
                    </select>
                    </div>
                    <input type="submit" class="search-submit" value="Ieskoti" />
                </form>
                </div>
            </div>
            <!-- End Search -->
            <!-- Categories -->
            <div class="box categories">
                <h2>Filtrai <span></span></h2>
                <div class="box-content">
                <ul>
                    <li><a href="#">Pagal kaina didejimo tvarka</a></li>
                    <li><a href="#">Pagal kaina mazejimo tvarka</a></li>
                    <li><a href="#">Pagal naujausias prekes</a></li>
                    <li class="last"><a href="#">Pagal populiariausias prekes</a></li>
                </ul>
                </div>
            </div>
            <!-- End Categories -->
            </div>
            <!-- End Sidebar -->
            <div class="cl">&nbsp;</div>
            {% endblock %}
        </div>
        <!-- End Main -->
        </div>
        <!-- End Shell -->
    </body>
</html>
