{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-lg-3 panel-group">
        {% include 'Admin/side_menu.html.twig' %}
    </div>
    <div class="col-lg-9">
        <div class="box">
            <h2>Ataskaitos duomenys:</h2>
            <div class="box-content">
                <form action="/Admin/Report" method="post">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label>Data nuo:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control"  id="datenuo" name="datenuo" required oninvalid="this.setCustomValidity('Įveskite teisingą datą!')" oninput="this.setCustomValidity('')"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label>Data iki:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="dateiki" name="dateiki" required oninvalid="this.setCustomValidity('Įveskite teisingą datą!')" oninput="this.setCustomValidity('')"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="admin"><i class="fa fa-user"></i>Ataskaitos tipass</label>
                        </div>
                        <div class="col-sm-3">
                            <select id="type" name="report"  class="form-control custom-select">
                                <option selected value="-1">Visi tipai</option>
                                {% for type in requests %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="submit" value="Rodyti" class="btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>







        <table class="table">
            <thead class="thead-dark">
                <th scope="col">Užsakymo data</th>
                <th scope="col">Vertė</th>
                <th scope="col">Siuntimo būdas</th>
            </thead>
            <tbody>
            {#{% for request in requests %}#}
                {#<tr>#}
                    {#<td>{{ request.date }}</td>#}
                    {#<td>{{ request.price }}</td>#}
                    {#<td>{{ request.method }}</td>#}
                {#</tr>#}
            {#{% endfor %}#}
            </tbody>
        </table>
    </div>
{% endblock %}