{% extends 'base.html.twig' %}

{% block content %}
<div class="cl">&nbsp;</div>
    <!-- Content -->
    <div>
        <div class="row">
            <div class="col-75">
                <div class="container">
                    <h2>Tiekėjo Duomenys</h2>
                </div>
                <div class="container">
                    <form action="/produkt/add_tiek{% if item is not null %}?edit=1&id={{ item.id }}{% endif %}" method="Post">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="fknr"><i class="fa fa-user"></i> Faktūros nr.</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="number"class="form-control"  id="fknr" name="fknr" placeholder="" value="{% if item is not null %}{{ item.fakturosNr }}{% endif %}" required oninvalid="this.setCustomValidity('Įveskite numerį!')" oninput="this.setCustomValidity('')">
                            </div>
                        </div><div class="form-group row">
                            <div class="col-sm-2">
                                <label for="tiekname"><i class="fa fa-user"></i> Tiekėjas</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text"class="form-control"  id="tiekname" name="tiekname" placeholder="Vardas" value="{% if item is not null %}{{ item.vardas }}{% endif %}" required oninvalid="this.setCustomValidity('Įveskite tiekėjo vardą!')" oninput="this.setCustomValidity('')">
                            </div>
                        </div><div class="form-group row">
                            <div class="col-sm-2">
                                <label for="firma"><i class="fa fa-user"></i> Firma</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text"class="form-control"  id="firma" name="firma" placeholder="UAB FIRMA" value="{% if item is not null %}{{ item.firmosPav }}{% endif %}">
                            </div>
                        </div><div class="form-group row">
                            <div class="col-sm-2">
                                <label for="emailTiek"><i class="fa fa-user"></i> El. paštas tiekėjo</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="email"class="form-control"  id="emailTiek" name="emailTiek" placeholder="unknown@web.com" value="{% if item is not null %}{{ item.ePastas }}{% endif %}" required oninvalid="this.setCustomValidity('Įveskite el. paštą!')" oninput="this.setCustomValidity('')">
                            </div>
                        </div><div class="form-group row">
                            <div class="col-sm-2">
                                <label for="vadyb"><i class="fa fa-user"></i> Vadybininkas</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text"class="form-control"  id="vadyb" name="vadyb" placeholder="Vardenis" value="{% if item is not null %}{{ item.vadybininkas }}{% endif %}" required oninvalid="this.setCustomValidity('Įveskite vadybininko vardą!')" oninput="this.setCustomValidity('')">
                            </div>
                        </div><div class="form-group row">
                            <div class="col-sm-2">
                                <label for="emailVadyb"><i class="fa fa-user"></i> Vadybininko el. paštas</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="email"class="form-control"  id="emailVadyb" name="emailVadyb" placeholder="email@web.com" value="{% if item is not null %}{{ item.vadybininkoEPastas }}{% endif %}" required oninvalid="this.setCustomValidity('Įveskite vadybininko el. paštą!')" oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="submit" value="Išsaugti" class="btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
{% endblock %}
