{% extends 'base.html.twig' %}

{% block content %}
<div class="col-lg-3 panel-group">
    {{ include('inventory/side_menu.html.twig', { 'categories': categories, 'statuses': statuses }) }}
</div>
<div class="col-lg-9">
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">Pavadinimas</th>
            <th scope="col">Vertė</th>
            <th scope="col">Būsena</th>
            <th scope="col">Kategorija</th>
            <th scope="col">Veiksmas</th>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><a href="/inventory/item/{{ item.id }}">{{ item.name }}</a></td>
                <td>{{ item.value }}</td>
                <td>{{ item.status.name }}</td>
                <td>{{ item.category.name }}</td>
                <td>
                    <a class="btn btn-link" href="/inventory/item/form?id={{ item.id }}">Redaguoti</a>
                    <a class="btn btn-link" href="/inventory/delete/{{ item.id }}">Pašalinti</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}