{% extends 'base.html.twig' %}

{% block content %}
    <div id="container">
        <div class="row">
            <div class="col-lg-9">
                {% if msg %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endif %}
                {% if new_orders %}
                <h2>Naujas užsakymas</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Prekės pavadinimas</th>
                        <th>Tipas</th>
                        {#<th>Kiekis</th>#}
                        <th>Suma</th>
                        <th>Trinti</th>
                    </tr>
                    {% for order in new_orders %}
                        <tr>
                            <td>{{   order.fkProduktasid.pavadinimas }}</td>
                            <td>{{ order.fkProduktasid.fkMedziaguGrupeid.pavadinimas }}</td>
                            {#<td><input type="number" id="kiekis" name="kiekis"></td>#}
                            <td>{{  order.fkProduktasid.kaina }} EUR</td>
                            <td><a  href="{{ path('remove-from-order', {'id': order.id }) }}">Išimti</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h4>Bendra suma: {{ suma }} EUR</h4>
            </div>
        </div>
        <button type="button" onclick="window.location.href='/orders/payment'">Apmoketi</button>
        {% else %}
            <h2>Nėra pridėtų prekių</h2>
        {% endif %}
    </div>
{% endblock %}
